# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Directory lainnya
**/build
**/experiment
**/videos
**/bin
#**/binaries
**/include
**/lib
**/lib64
**/.idea
**/refs
**/local
**/.metadata
**/RemoteSystemsTempFiles
**/museum

# Yang lain
*.json
*.pyc
*.pro.user*
*.aplx
#*.jpg*
#*.png*

# Yang ini berhubungan dengan xl-stage
**/graphs/*.pdf
**/graphs/*.xml
**/graphs/*.gv
**/graphs/*.eps
**/Archive
**/Traffic

